


* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#titulo {
  font-size: 50px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#contenedor1 {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: solid;
}

button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

#resultado {
  background-color: #fff;
}

#contenedor2{
  width: 100%;
  padding: 10px;
  margin: 100px 0 0 10px;
}
